﻿<!DOCTYPE html>
<html>
<head>
    <title>Harsh's Bugtracker Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <!-- Custom Theme files -->
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--js-->
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <!--icons-css-->
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <!--Google Fonts-->
    <link href='//fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Work+Sans:400,500,600' rel='stylesheet' type='text/css'>
    <!--static chart-->
    <script src="~/Scripts/Chart.min.js"></script>
    <!--//charts-->
    <!-- geo chart -->
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

</head>
<body>
    <div class="page-container">
        <div class="left-content">

            <div class="header-main">
                <div class="header-left">
                    <div class="logo-name">

                        <a href="/Home">

                            <h2><span class="fa fa fa-bug">BUG TRACKER</span></h2>

                        </a>
                    </div>

                    <div class="clearfix"> </div>
                </div>
                <div class="header-right">
                    <div class="profile_details">
                        @Html.Partial("_LoginPartial")

                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>



            <div class="sidebar-menu">
                <div class="logo">
                    <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="#">
                        <span id="logo"></span>
                        <!--<img id="logo" src="" alt="Logo"/>-->
                    </a>
                </div>

                <div class="menu">
                    <ul id="menu">

                        <li id="menu-home"><a href="/home"><i class="fa fa-home"></i><span>Home</span></a></li>
                        <li>
                            <a href="#"><i class="fa fa-desktop"></i><span>Demo Login</span><span class="fa fa-angle-right" style="float: right"></span></a>
                            <ul>
                                <li><a href="@Url.Action("DemoLogin", "Account", new { Role = "DemoAdmin"})">Admin</a></li>
                                <li><a href="@Url.Action("DemoLogin", "Account", new { Role = "DemoProjectManager"})">Project Manager</a></li>
                                <li><a href="@Url.Action("DemoLogin", "Account", new { Role = "DemoDeveloper"})">Developer</a></li>
                                <li><a href="@Url.Action("DemoLogin", "Account", new { Role = "DemoSubmitter"})">Submitter</a></li>
                            </ul>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li id="menu-home"><a href="@Url.Action("Index", "UserRole")"><i class="fa fa-user"></i><span>Manage Users</span></a></li>
                        }
                        <li>
                            <a href="#"><i class="fa fa-file"></i><span>Projects</span><span class="fa fa-angle-right" style="float: right"></span></a>
                            <ul>
                                <li><a href="@Url.Action("Index", "Projects")">All Projects</a></li>
                                <li><a href="@Url.Action("IndexMyProjects", "Projects")">My Projects</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-file"></i><span>Tickets</span><span class="fa fa-angle-right" style="float: right"></span></a>

                            <ul>
                                <li><a href="@Url.Action("Index", "Tickets")">All Tickets</a></li>
                                @if (User.IsInRole("Submitter"))
                                {

                                    <li><a href="@Url.Action("SubmitterTickets", "Tickets")">Tickets Owned</a></li>

                                }
                                @if (User.IsInRole("Developer"))
                                {
                                    <li><a href="@Url.Action("DeveloperTickets", "Tickets")">Assigned to me</a></li>

                                    <li><a href="@Url.Action("TicketsForMyProjects", "Tickets")">From my Projects</a></li>


                                }


                            </ul>
                        </li>



                    </ul>
                </div>

            </div>
        </div>

        <div class="clearfix"> </div>
        <div class="clearfix"> </div>

        <!--slide bar menu end here-->
        <script>
            var toggle =true;

            $(".sidebar-icon").click(function () {
                if (toggle) {
                    $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
                    $("#menu span").css({ "position": "absolute" });
                }
                else {
                    $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
                    setTimeout(function () {
                        $("#menu span").css({ "position": "relative" });
                    }, 400);
                }
                toggle = !toggle;
            });</script>
        @RenderBody()
        <div class="clearfix"> </div>


        <div class="copyrights">
            <p>©2019 BugTracker Application. All Rights Reserved</p>
        </div>
        <div class="clearfix"> </div>


    </div>


    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery.nicescroll.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script src="~/Scripts/scripts.js"></script>
    <!--//scrolling js-->
    <script src="~/Scripts/bootstrap.js"></script>

    <!-- mother grid end here-->

</body>
</html>
