﻿@model bugtracker.Models.AssignTicketsViewModel
@{
    ViewBag.Title = "AssignTicket";
}
<div class="left-content">
    <h2>Assign Tickets</h2>

    <section class="content">
        @using (Html.BeginForm())
        {<div class="form-group">
                @Html.HiddenFor(p => p.Id)
                @Html.DropDownListFor(p => p.SelectedDeveloperId, Model.ListofDevelopers, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ListofDevelopers, "", new { @class = "text-danger" })
                <input type="submit" value="Submit!" />
            </div>
        }
    </section>
</div>  