﻿@model bugtracker.Models.Tickets

@{
    ViewBag.Title = "Details";
}
<div class="left-content">
    <h2>Details</h2>

    <div>
        <h4>Tickets</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Assignee
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Assignee.Name)
            </dd>
            <dt>
                Created By
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Creator.Name)
            </dd>
            <dt>
                Project
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Project.Name)
            </dd>
            <dt>
                Priority
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TicketPriority.Name)
            </dd>
            <dt>
                Status
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TicketStatus.Name)
            </dd>
            <dt>
                Type
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TicketType.Name)
            </dd>
            <dt>
                Name
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Created)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Created)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Updated)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Updated)
            </dd>

        </dl>


    </div>
    <h3> Comment on this Ticket</h3>
    <div>
        @using (Html.BeginForm("CreateComment", "Tickets", new { id = Model.Id }, FormMethod.Post))
        {
            <div class="row">
                <div class="col-md-6">
                    <input type="hidden" name="slug" value="@Model.Comments" />
                    <textarea name="Body"></textarea>
                    @if (ViewBag.ErrorMessage != null)
                    {
                        <span>@ViewBag.ErrorMessage</span>
                    }
                </div>
                <input type="submit" value="submit" />
            </div>
        }
    </div>
    <div>
        @foreach (var comment in Model.Comments)
        {
            <hr />
            <span style="font-size: 14px;">Creator: @comment.User.Name</span>
            <p style="text-align: left;">

                @comment.Comment

                <span style="font-size: 10px; text-align: right">

                    <span>Created: @comment.Created</span>

                    <span>Updated: @comment.Updated</span>



                </span>
            </p>


            <span style="font-size: 14px;"> @Html.ActionLink("Delete", "DeleteComment", new { id = comment.Id }) </span>

            <span style="font-size: 14px;"> @Html.ActionLink("Edit", "EditComment", new { id = comment.Id })</span>


        }

    </div>
    <hr/>

    <h3> Attachments </h3>
    <div>
        @using (Html.BeginForm("CreateAttachment", "Tickets", new { ticketId = Model.Id }, FormMethod.Post, new { enctype = "Multipart/form-data" }))
        {
            <div class="row">
                @Html.AntiForgeryToken()
                <div class="col-md-6">
                    <input name="image" type="file" class="form-control" id="fileUpload" />
                    @if (ViewBag.ErrorMessage != null)
                    {
                        <span>@ViewBag.ErrorMessage</span>
                    }
                </div>
                <div class="col-md-6">
                    <input type="submit" value="submit" />
                </div>
            </div>
        }
    </div>
    <div>
        @foreach (var attachment in Model.Attachments)
        {
            <hr />
            @attachment.User.Name
            <p style="text-align: left; margin-left: 70px">
                <a href="@attachment.FilePath">@attachment.FilePath </a>
                <span style="font-size: 10px; text-align: right">
                    @attachment.Created.ToString("mm/dd/yyyy hh:mm")
                </span>
            </p>
          <span style="font-size: 14px;"> @Html.ActionLink("Delete", "DeleteAttachment", new { id = attachment.Id }) </span>

        }
    </div>

    <hr />

    <h3> History </h3>
    <div>
        <table id="wer" class="table">
            <thead>
                <tr>
                    <th>
                        Property Changed
                    </th>
                    <th>
                        Old Value
                    </th>
                    <th>
                        New Value
                    </th>
                    <th>
                        Changed
                    </th>
                    <th>
                        Modifier
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Histories)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Property)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OldValue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NewValue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Changed)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Name)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
