﻿@model IEnumerable<bugtracker.Models.Tickets>

@{
    ViewBag.Title = "Index";
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#mytable').DataTable();
        });</script>

}

<div class="left-content">

    <h2>Index</h2>

    <p>
        @if (User.IsInRole("Submitter"))
        {
            @Html.ActionLink("Create New", "Create")
        }
    </p>
    <table id="mytable" class="table-responsive">
        <thead>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Assignee)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Creator)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Project)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketPriority)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Created)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Updated)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Assignee.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Creator.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Project.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Updated)
                    </td>
                    <td>
                        @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                        {
                           <p> @Html.ActionLink("Assign", "AssignTicketToDeveloper", new { ticketId = item.Id })</p>

                           <p>@Html.ActionLink("Delete", "Delete", new { id = item.Id })</p>


                        }

                            
                        <p> @Html.ActionLink("Edit", "Edit", new { id = item.Id })</p>

                       <p> @Html.ActionLink("Details", "Details", new { id = item.Id })</p>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
