﻿@model List<bugtracker.Models.UserRoleViewModel>


@{
    ViewBag.Title = "Index";
}
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#mytable').DataTable();
        });</script>
}
    <div class="left-content">

        <h2>Users</h2>

        <table id="mytable" class="grid-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Name</td>
                        <td>@user.Email</td>
                        <td>@string.Join(",", user.UserRoles)</td>
                        <td><a href="@Url.Action("ManageRoles", "UserRole", new { id = user.Id })">Change roles</a></td>
                    </tr>
                }
            </tbody>
        </table>
        </div>