﻿@model bugtracker.Models.ManageRoleViewModel

@{
    ViewBag.Title = "ChangeRole";
}
<div class="left-content">

    <h2>ChangeRole</h2>
    <form method="post">
        @foreach (var role in Model.AllRoles)
        {
            <input type="checkbox"
                   value="@role.Id"
                   name="userRoleIds"
                   @(Model.UserRoles.Any(p => p.Id == role.Id) ? "checked" : "") />
            @role.Name
        }
        <input type="submit" value="Submit" class="btn btn-primary" />
    </form>
</div>