﻿@model bugtracker.Models.DashboardViewModel
<!DOCTYPE html>
<html>
<body>
    <div class="left-content">

        <div class="inner-block">
            <div class="market-updates">
                @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                {
                    <div class="col-md-4 market-update-gd">
                        <div class="market-update-block clr-block-4">
                            <div class="col-md-8 market-update-left">

                                <h4>@Model.Projects</h4>
                                <h4><a href="@Url.Action("Index", "Projects")">All Projects</a></h4>

                                <p>This are All projects</p>

                            </div>

                        <div class="col-md-4 market-update-right">
                            <i class="fa fa-file-text-o"> </i>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="col-md-4 market-update-gd">
                    <div class="market-update-block clr-block-1">
                        <div class="col-md-8 market-update-left">

                            <h4>@Model.Tickets</h4>
                            <h4><a href="@Url.Action("Index", "Tickets")">All Tickets</a></h4>
                            <p>This are All Tickets</p>

                            <h5>Open: @Model.Opened</h5>
                            <h5>Resolved: @Model.Resolved</h5>
                            <h5>Rejected: @Model.Closed</h5>
                        </div>
                        <div class="col-md-4 market-update-right">
                            <i class="fa fa-file-text-o"> </i>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>

            }

            else if (User.IsInRole("Submitter"))
            {
                <div class="col-md-4 market-update-gd">
                    <div class="market-update-block clr-block-6">
                        <div class="col-md-8 market-update-left">

                            <h4>@Model.Projects</h4>
                            <p>This are my projects</p>

                        </div>

                        <div class="col-md-4 market-update-right">
                            <i class="fa fa-file-text-o"> </i>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>

                <div class="col-md-4 market-update-gd">
                    <div class="market-update-block clr-block-1">
                        <div class="col-md-8 market-update-left">


                            <h4>@Model.Tickets</h4>
                            <p>This are my created Tickets</p>
                            <h5>Open: @Model.Opened</h5>
                            <h5>Resolved: @Model.Resolved</h5>
                            <h5>Rejected: @Model.Closed</h5>

                        </div>

                        <div class="col-md-4 market-update-right">
                            <i class="fa fa-file-text-o"> </i>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            }

            else if (User.IsInRole("Developer"))
            {
                <div class="col-md-4 market-update-gd">
                    <div class="market-update-block clr-block-1">
                        <div class="col-md-8 market-update-left">

                            <h4>@Model.Projects</h4>
                            <p>This are my projects</p>

                        </div>

                        <div class="col-md-4 market-update-right">
                            <i class="fa fa-file-text-o"> </i>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>

                <div class="col-md-4 market-update-gd">
                    <div class="market-update-block clr-block-10">
                        <div class="col-md-8 market-update-left">

                            <h4>@Model.Tickets</h4>
                            <p>Assigned Tickets</p>
                            <h5>Open: @Model.Opened</h5>
                            <h5>Resolved: @Model.Resolved</h5>
                            <h5>Rejected: @Model.Closed</h5>
                        </div>

                        <div class="col-md-4 market-update-right">
                            <i class="fa fa-file-text-o"> </i>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            }
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>



</body>
</html>
