﻿@model bugtracker.Models.AssignProjectsViewModel

@{
    ViewBag.Title = "AssignUsers";
}
<div class="left-content">
    <h2>AssignUsers</h2>


    @using (Html.BeginForm())
    {
        @Html.HiddenFor(p => p.Id)
        @Html.ListBoxFor(p => p.SelectedUsers, Model.UserList)
        <input type="submit" value="Submit!" />
    }




</div>
