﻿@model bugtracker.Models.Project

    @{
        ViewBag.Title = "Deleted";
    }
 <div class="left-content">

        <h2>Deleted</h2>

        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>Project</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" />

                </div>
                @Html.ActionLink("Back to List", "Index")

            }
        </div>
  </div>
