﻿@model List<bugtracker.Models.ProjectIndexViewModel>

@{
    ViewBag.Title = "Index";
}


<div class="left-content">
    @section Scripts {
        <script type="text/javascript">
            $(document).ready(function () {
                $('#mytable').DataTable();
            });</script>
    }

    <h2>Index</h2>
    @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
        <table id="mytable" class="table-striped">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Created
                </th>
                <th>
                    Updated
                </th>
                <th>
                    Assigned User
                </th>
                <th>
                    Tickets
                </th>
                <th></th>
            </tr>

            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Created
                        </td>
                        <td>
                            @item.Updated
                        </td>
                        <td>
                            @item.AssignedUsers
                        </td>
                        <td>
                            @item.Tickets
                        </td>
                        <td>
                            @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                            {
                              <p>@Html.ActionLink("Assign Users", "AssignUsers", new { id = item.Id })</p>
                              <p> @Html.ActionLink("Edit", "Edit", new { id = item.Id })</p>
                              <p> @Html.ActionLink("Delete", "Delete", new { id = item.Id })</p>


                            }
                        </td>
                    </tr>
                }
            }
        </table>

    </div>