﻿@model List<bugtracker.Models.ProjectIndexViewModel>

@{
    ViewBag.Title = "IndexMyProjects";
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#mytable').DataTable();
        });</script>
}
    <div class="left-content">

        <h2>IndexMyProjects</h2>

        <table id="mytable" class="table-striped">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Members
                </th>
                <th>
                    Created
                </th>
                <th>
                    Updated
                </th>
            </tr>

            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.AssignedUsers
                        </td>
                        <td>
                            @item.Created
                        </td>
                        <td>
                            @item.Updated
                        </td>
                    </tr>
                }

            }

        </table>
    </div>