﻿@using bugtracker.Models
@model LoginViewModel

<body>
   
    <div class="login-page">
        <div class="login-main">
            <div class="login-head">
                <h1>Login</h1>
            </div>
            <div class="login-block">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <div class="login-panel">

                                <div class="panel-heading" section id="loginForm">
                                    <h3 class="panel-title">Please Log In</h3>

                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                </div>
                                <div class="panel-body">
                                            <div class="form-group">
                                                Email
                                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email" })

                                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                                            </div>
                                            <div class="form-group">
                                                Password
                                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", type = "password", value = "" })
                                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    @Html.CheckBoxFor(m => m.RememberMe)Remember Me

                                                </label>
                                            </div>
                                            <p>
                                                <input type="submit" value="Log in" class="btn btn-default" />

                                            </p>
                                </div>
                                <p>

                                    @Html.ActionLink("Register as a new user", "Register")


                                </p>

                                <p>
                                    @Html.ActionLink("Forgot your password?", "ForgotPassword")

                                </p>

                            </div>
                        </div>

                    </div>
                }

                <h5><a href="/home">Go Back to Home</a></h5>
            </div>
        </div>
    </div>
</body>